<div class="container display-height">
    <div class="columns is-centered">
        <div class="column is-8 has-text-centered" id="white">
            <h2 class="is-size-4">ログインにはTwitterアカウントが必要です</h2>
            <div>
                <a href="/auth/twitter" class="button is-large is-primary" id="login-button">
                  <span class="icon is-medium">
                    <i class="fab fa-twitter"></i>
                  </span>
                  <span>Twitterログイン</span>
                </a>
            </div>
        </div>
    </div>
</div>