// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.display-height {
  height: 100vh;
}

#white {
  margin-top: 200px;
  background-color: white;
  height: 30%;
}

#login-button {
    background-color: #1DA1F2;
}